.nav-position {
 display: flex;
 justify-content: flex-end;

}
.navbar-color {
  background-color: grey;

}
body {
  margin-bottom: 150px;

  background-color: black;
}

h1 {
  color: white;
}

p {
  color: white;
}

th {
  color: white;
}

td {
  color: white;
}

.vis-dim {
  width: 300px;

  height: 220px;


}

.comp-dim {
  height: 300px;
}

